* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.total-section {

      .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px 0; 
        width: 85%;
        margin: 0 auto;
        grid-column-gap: 20px;

            .container1, .container2 {
                padding: 35px;
            }
            .container2 {
                padding: 80px 0 0 0;
            }
      }
}